// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

td {
	min-width: 100px;
	max-width: 500px;
	padding: 5px;
	&.actions {
		max-width: 50px !important;
	}
}